BODY
{
 /*margin:0px;*/
 padding:0px;
 background:#696 url('images\bgnd.gif');
 color:#363;
 font-family:arial;
 font-size:10pt;
 text-align:justify;
 /*overflow:auto;*/
 /*overflow:hidden;*/
}

H1,H2,H3,H4,H5,H6
{ 
 margin:0em;
 color:#9c9;
 font-weight:bold; 
}

H1
{
 font-size:20pt;
 padding:.2em;
 border:1px solid #9c9;
 border-top-width:10px;
}

H2
{
 font-size:12pt;
 padding:.2em;
}

H3
{
 font-size:14pt;
 padding:.2em;
}

A
{
 color:#9c9;
 text-decoration:none;
}

A:hover
{
 color:#fc6;
 text-decoration:none;
}

A:active
{
 color:#fc6;
 text-decoration:none;
}

A:visited
{
 color:#9c9;
 text-decoration:none;
}

HR
{
 margin:0;
 height:1px;
 width:100%;
 color:#9c9;
 text-align:center;
}

P
{
 color:#363;
 margin:.5em 1em .5em 1em;
 font-size:10pt;
 font-weight:normal;
 text-align:justify;
}

TABLE 
{
 border-collapse:collapse;
 border:none;
}

TH 
{
 color:#363;
 font-size:12pt;
 font-weight:bold;
 text-align:center;
 border:none;
}

TD
{
 margin:0px;
 padding:0px;
 color:#363;
 font-size:10pt; 
 border:none;
 vertical-align:top;
}

INPUT, SELECT, OPTION, TEXTAREA, APPLET
{
 background:#9c9;
 color:#363;
 border:1px solid #363;
 margin:2px;
 cursor:hand;
 font-family:arial;
 font-size:10pt;
 overflow:hidden;
}

IMG.simple
{
 border:1px solid #9c9;
 border-top-width:10px;
}

IMG.counter
{
 border:1px solid #363;
 border-top-width:10px;
 margin:0px;
}

TABLE.simple
{
 border:1px solid #9c9;
 border-top-width:10px;
}

TABLE.simple TH 
{
 padding:5px;
 border:1px solid #9c9; 
 color:#363;
 font-size:12pt;
 font-weight:bold;
 text-align:center;
}

TABLE.simple TD
{ 
 padding:3px;
 border:1px solid #9c9;
 color:#363;
 font-size:10pt; 
 vertical-align:middle;
}

TABLE.simple TR.even
{
 background:#7a7;
}

TABLE.simple TR.odd
{
 background:#696;
}

TABLE#menu 
{
 visibility:hidden;
 position:absolute;
 background:#696;
 left:-100%;
 z-index:100;
 border:none;
 text-align:center;
}

DIV#sheet
{
 visibility:hidden;
 position:absolute;
 padding:1em;
 background:#696;
 color:#363;
 font-size:10pt;
 font-weight:normal;
 text-align:left;
 overflow:auto;
}

.menu_passive,.menu_active,.menu_hover
{
 margin:5px;
 padding:5px;
 border-width:1px;
 border-style:solid;
 text-align:center; 
 font-family:arial;
 font-size:12pt;
 font-weight:900;
 cursor:hand;
}

.menu_hover
{
 border-top-color:#9c9;
 border-right-color:#363;
 border-bottom-color:#363;
 border-left-color:#9c9;
 color:#9c9;
}

.menu_active
{
 padding:6px 4px 4px 6px;
 border-top-color:#363;
 border-right-color:#9c9;
 border-bottom-color:#9c9;
 border-left-color:#363;
 color:#fc6;
}

.menu_passive
{
 border-color:#696;
 color:#363;
}

.menu_p_active,.menu_p_passive
{
 width:30px;
 height:140px;
}

.menu_p_passive
{
 background:url("images/menu_p_passive.gif") #9c9;
}

.menu_p_active
{
 background:url("images/menu_p_active.gif") #fc6;
}