BODY
{
 overflow:hidden;
 font-family:Tahoma,Arial;
 font-size:8pt;
}

IMG
{
 border:0px;
}

A{color:#800000; text-decoration:underline;}
A:hover{color:#000000;text-decoration:underline overline;}
A:active{color:#ff0000;text-decoration:underline overline;}
A:visited{color:#000000;text-decoration:underline;}

HR
{
 height:3px;
 width:90%;
 color:#000000;
}