/* Modern Menu Styles - Matching Original Design */

/* Menu Container */
.pdmenu {
    background: transparent;
}

.pdmenu ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Menu Items - Matching Original TABLE.menu_p style */
.pdmenu li {
    position: relative;
    background: #FFFFFF;
    color: #000000;
    border: 1px solid #000000;
    font-family: Tahoma, Arial;
    font-size: x-small;
    transition: background .15s ease-out, color .15s ease-out;
}

/* Hover state - Matching Original TABLE.menu_h style */
.pdmenu li:hover {
    background: #000000;
    color: #FFFFFF;
}

/* Active state - Matching Original TABLE.menu_a style */
.pdmenu li:active {
    background: #CCCCCC;
    color: #FFFFFF;
}

/* Menu Links */
.pdmenu li a,
.pdmenu li span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 6px 10px;
    padding-right: 6px;
    white-space: nowrap;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
}

.pdmenu li a:hover {
    color: inherit;
    text-decoration: none;
}

/* Menu Arrow Indicator */
@supports selector(:has(*)) {
    .pdmenu li:has(> ul) > a::after,
    .pdmenu li:has(> ul) > span::after {
        content: ' >';
        margin-left: auto;
        padding-left: 1em;
        color: inherit;
    }
}

/* Submenu Visibility */
.pdmenu li > ul {
    position: absolute;
    left: 100%;
    top: 0;
    min-width: 10rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease-in-out, visibility .15s ease-in-out;
    z-index: 1000;
}

.pdmenu li:hover > ul,
.pdmenu li.menu-show > ul {
    opacity: 1;
    visibility: visible;
}

/* Fallback for browsers that don't support :has() */
@supports not selector(:has(*)) {
    .pdmenu li.has-children > a::after,
    .pdmenu li.has-children > span::after {
        content: ' >';
        margin-left: auto;
        padding-left: 1em;
        color: inherit;
    }
    
    .pdmenu li.has-children:hover > ul,
    .pdmenu li.has-children.menu-show > ul {
        opacity: 1;
        visibility: visible;
    }
}

/* Ensure submenus work with :has() support */
.pdmenu li:has(> ul):hover > ul {
    opacity: 1;
    visibility: visible;
}
